# Database Configuration
TELEMETRY_MAX_EXPORT_BATCH=512
TELEMETRY_MAX_QUEUE_SIZE=2048
TELEMETRY_BATCH_TIMEOUT=5s
TELEMETRY_EXPORT_TIMEOUT=30s
TELEMETRY_OTLP_ENDPOINT=localhost:4318
TELEMETRY_SERVICE_VERSION=1.0.0
TELEMETRY_SERVICE_NAME=documents
TELEMETRY_ENABLED=true
# Telemetry Configuration

MINIO_USE_SSL=false
MINIO_BUCKET=raibecas-documents
MINIO_SECRET_KEY=raibecas_minio_dev
MINIO_ACCESS_KEY=raibecas
MINIO_ENDPOINT=localhost:9000
# MinIO Configuration

NATS_MAX_RECONNECTS=-1
NATS_CONNECTION_NAME=documents-service
NATS_URL=nats://localhost:4222
# NATS Configuration

DB_MIN_CONNS=5
DB_MAX_CONNS=25
DB_SSL_MODE=disable
DB_NAME=raibecas
DB_PASSWORD=raibecas_dev
DB_USER=raibecas
DB_PORT=5432
DB_HOST=localhost
